*{
	box-sizing: border-box;
}
.container{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
@media (max-width: 940px){
	.container{
		padding: 0 20px;
	}
}

blockquote{
	margin: 0;
	font-style: italic;
	color: #7E7E7E;
}
/* header */


.header .container{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
.logo{
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 5px 0px 0px #0da9e5, 15px 15px 0px 0px #0da9e5;
}
.burger{
	display: block;
}

.burger-line{
	display: block;
  	background-color: #fff;
  	width: 30px;
  	height: 4px;
  	margin-bottom: 2px;
  	border-radius: 20%;
}

/* hero */

.hero{
	background: url('../images/banner-header.png') no-repeat center top;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.hero-content{
	position: relative;
	text-align: right;
	color: #FFF;
	padding-top: 100px;
}
.hero-content h1{
  	font-size: 70px;
  	font-family: 'BlackJack';
  	font-weight: 400;
  	margin-bottom: 20px;
}
.hero-content h3{
	font-size: 35px;
	font-family: 'ProximaNova';
	font-weight: 400;
}
.button{
	padding-top: 50px;
}
.button a{
	padding: 20px 30px; 
	border: 2px solid #fff;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	font-family: 'ProximaNova';
	font-size: 15px;
	font-weight: 600;
}
.hero .button a:hover{
	color: #4eacdd;
	background: #fff;
}
.button i{
	padding-left: 10px;
}
.hero-phone{
	padding-left: 100px;
	font-size: 0;
	line-height: 0;
}

/* about me */

.about-me{
	background: url(../images/about-me-ipad.png) no-repeat 100% 100%;
	background-color: #f4f4f4;
	padding-bottom: 100px;
}
.about-me-content{
	width: 60%;
	max-width: 540px;
	text-align: left;
	padding: 120px 0;
}

.title{
	font-family: 'ProximaNova';
	font-size: 40px;
	font-weight: 400;
	color: #545454;
}
.discription{
	font-family: 'ProximaNova';
	font-size: 16px;
	font-weight: 400;
	color: #7E7E7E;
}
.vertical{
	border-left: 5px solid #4eacdd;
    padding-left: 20px;
}
.about-me .button a{
	color: #14af8f;
	border-color: #14AF8F;
}
.about-me .button a:hover{
	color: #fff;
	background: #14AF8F;
}
.about-me-img{
	display: flex;
	text-align: right;
}


/* portfolio */

.portfolio{
	background: url(../images/portfolio-devices.png) no-repeat 0% 100%;
	min-height: 650px;
}
.portfolio-content{
	position: relative;
	left: 60%;
	width: 40%;
	text-align: right;
	padding: 100px 0;
	overflow: hidden;
}
.portfolio-content .button a{
	color: #EA4C89;
	border-color: #EA4C89;
}
.portfolio-content .button a:hover{
	color: #fff;
	background: #EA4C89;
}
.portfolio-right{
	text-align: left;
}

/* donate */

.donate{
	background: url(../images/donate-banner.png) no-repeat center top;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.donate-content{
	padding: 100px 0;
	text-align: center;
}
.donate .title{
	margin: 0;
	color: #FFF;
}
.donate .button a:hover{
	color: #14AF8F;
	background: #FFF;
}

/* contact */

.contact{
	background-color: #f4f4f4;
	padding: 230px 0;
	text-align: center;
}
.contact-icon{
	display: inline-block;
	color: #545454;
	border: 2px solid #545454;
	border-radius: 50%;
	padding: 10px;
	margin: 15px;
}
